[user]
	email = socket.someone@gmail.com
	name = SocketSomeone
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMBQDAkQt6duaqcpNxuUpJUoPihZ0ImANL16cdrOvHg5
[core]
	autocrlf = input
	eol = lf
	editor = notepad.exe
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	excludesfile = C:\\Users\\someone\\.gitignore
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[url "ssh://git@"]
	insteadOf = https://
[gpg "ssh"]
	program = C:\\Users\\someone\\AppData\\Local\\Microsoft\\WindowsApps\\op-ssh-sign.exe
